<div class="card">
  <div class="content">
    <div class="row featurette">
      <div class="col-md-12 ">
        <p class="category"><label>Nom de la section</label><input type="text" class="form-control border-input"
                                                                     placeholder="nom de la section"></p>
        <br>
        <p class="category"><label>Description</label><textarea rows="5" class="form-control border-input"
                                                                placeholder="votre description ici..."
                                                                name="description"></textarea></p>
        <hr>
        <!--<p><span class="glyphicon glyphicon-book"></span>&ensp;Catégorie:<span class="category">&ensp;{{formation.formationCategory.category}} </span>
                      </p>-->
        <p><span class="glyphicon glyphicon-filter"></span>&ensp;Type:</p>
          <label for="Difficulté"></label>
          <select class="form-control border-input" id="Difficulté" required="">
            <option value="">Choose...</option>
            <option>Chapitre</option>
            <option>QCM</option>
            <option>Forum</option>
          </select>

        <hr>
        <p><span class="glyphicon glyphicon-hourglass"></span>&ensp;Durée:</p>

        <span class="category">&emsp;Date début:</span>
        <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="endDate" required></my-date-picker>

        <span class="category">&emsp;Date fin:</span>
        <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="starDate" required></my-date-picker>
        <hr>
        <p></p>
      </div>
    </div>
  </div>
</div>
<div class="col-md-offset-5">
  <a [routerLink]="" class="btn btn-info btn-fill btn-wd" role="button">Enregistrer</a>
</div>
