<!--<p></p>
<br>
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="alert alert-danger" *ngIf="mode==1">
      <strong>{{msg}}</strong>
    </div>
    <div class="panel panel-primary">
    <div class="card card-plain">

      <div class="content">
        <form #f="ngForm" (ngSubmit)="onSave(f.value)">

          <div class="stats">
            <label ><i class="ti-user"></i> Username </label> <input type="text" class="form-control border-input" placeholder="username" ngModel="" name="username" required>
          </div>
          <p></p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>First Name</label>
                <input class="form-control border-input" placeholder="first name" type="text" ngModel="" name="firstName" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Last Name</label>
                <input class="form-control border-input" placeholder="last name" type="text" ngModel="" name="lastName" required>
              </div>
            </div>
          </div>
          <p></p>
          <div class="stats">
            <label ><i class="ti-email"></i> Email </label> <input type="email" class="form-control border-input" placeholder="example@soprahr.com" ngModel="" name="email" required>
          </div>
          <p></p>
          <div class="stats">
            <label ><i class="ti-lock"></i> Password </label> <input type="password" class="form-control border-input" placeholder="Password" ngModel="" name="password" required>
          </div>
          <p></p>
          <div class="stats">
            <label ><i class="ti-lock"></i> Confirm Password </label> <input type="password" class="form-control border-input" placeholder="Confirm Password" ngModel="" name="confirmPassword" required>
          </div>
<p></p>
          <div class="form-group text-right">
            <button class="btn btn-info btn-fill btn-wd" type="submit">Register</button>
          </div>
          <div class="text-right">
            <button routerLink="/login" class="btn btn-danger btn-fill btn-wd ">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>
</div>-->
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div>
        <section class="login" id="login">
          <header>
            <h2><img class="image" src="assets/img/elearninglogo.png"/></h2>

          </header>
          <form #f="ngForm" (ngSubmit)="onSave(f.value)"  class="login-form">
            <input type="text" class="login-input" placeholder="Username" ngModel="" name="username" required autofocus/>
            <input type="text" class="login-input" placeholder="First name" ngModel="" name="firstName" required autofocus/>
            <input type="text" class="login-input" placeholder="Last name" ngModel="" name="lastName" required autofocus/>
            <input type="email" class="login-input" placeholder="example@soprahr.com" ngModel="" name="email" required autofocus/>
            <input type="password" class="login-input" placeholder="Password" ngModel="" name="password" required/>
            <input type="password" class="login-input" placeholder="Confirm password" ngModel="" name="ConfirmPassword" required/>
            <div class="alert alert-danger" *ngIf="mode==1">
              <strong>{{msg}}</strong>
            </div>
            <div class="submit-container">
              <button type="submit" class="login-button" >REGISTER</button>
              <button type="button" routerLink="/login" class="login-button" style="color: #bf032a">CANCEL</button>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
