<div class="col-lg-8 col-md-7">
  <div class="card">

    <div class="header">
      <h4 class="title"><i class="fa fa-circle text-success"></i>Image titre</h4>
      <p></p>
      <p class="description text-center">Description</p>
    </div>

    <div class="content">
      <div class="=row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="image">
              <img src="data:{{this.image.contentType}};base64,{{this.image.image}}">
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="footer">
          <hr>
          <div class="stats" style="max-height : 5px">
            <i class="ti-timer"></i> Ajouter le 01/01/2018
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

