<div *ngIf="!authService.isConnected()">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div>
        <section class="login" id="login">
          <header>
            <h2><img class="image" src="assets/img/elearninglogo.png"/></h2>

          </header>
            <form #f="ngForm" (ngSubmit)="onLogin(f.value)"  class="login-form">
              <div class="alert alert-danger" *ngIf="mode==1">
                <strong>Bad credentials !</strong>
              </div>
            <input type="text" class="login-input" placeholder="Username" ngModel="" name="username" required autofocus/>
            <input type="password" class="login-input" placeholder="Password" ngModel="" name="password" required/>
            <div class="submit-container">
              <button type="submit" class="login-button">SIGN IN</button> <button type="button" routerLink="/register" class="login-button">REGISTER</button>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>
<!--<p></p>
<br>
<div *ngIf="!authService.isConnected()">
<div class="container">
  <div class="col-md-6 col-md-offset-3" >
    <div class="alert alert-danger" *ngIf="mode==1">
      <strong>Bad credentials !</strong>
    </div>
  <div class="panel panel-danger  content"  >

  <div class="panel-body">
    <form #f="ngForm" (ngSubmit)="onLogin(f.value)" >

      <div class="stats">
        <label ><i class="ti-user"></i> Username </label> <input type="text" class="form-control border-input" placeholder="Username" ngModel="" name="username" required>
      </div>
      <p></p>
      <div class="stats">
        <label ><i class="ti-lock"></i> Password </label> <input type="password" class="form-control border-input" placeholder="Password" ngModel="" name="password" required>
      </div>
      <p></p>
      <div class="text-center">

      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-success btn-fill btn-wd">Login</button>
      <button routerLink="/register" class="btn btn-info btn-fill btn-wd ">Register</button>
      </div>
    </form>
  </div>
  </div>
  </div>
</div>
</div>-->
