
<div class="wrapper" >
  <div *ngIf="auth.isConnected()">
  <div class="sidebar" data-background-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="col-md-12">
      <div class="card">

    <div class="content">
<!--<router-outlet></router-outlet>-->
<!--<unitysnity></unitysnity>
<app-unitysnity></app-unitysnity>
      <app-add-code></app-add-code>-->
     <!-- <app-afficher-text id=32></app-afficher-text>-->
 <!--     <unitysnity></unitysnity>-->
      <router-outlet></router-outlet>
    </div>
    <footer-cmp></footer-cmp>
  </div>
</div>
<div *ngIf="!auth.isConnected()">
<router-outlet></router-outlet>
</div>
</div>

  </div>
</div>
