/* ---------------------------------------------------
    Page wrapper
----------------------------------------------------- */
.wrapper {
  display: flex;
  align-items: stretch;
  background-color: #eeeeee;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  min-height: 100vh;
  width: 100%;
  transition: all 0.3s;
}
