<div class="navbar-fixed-top">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="" class="simple-text">
        <div class="logo-img">
          <img src="../../assets/img/sopra.png" alt="">
        </div>

        <div><label> Sopra Hr </label></div>
      </a>
    </div>
    <ul class="nav">
      <li class="divider"></li>
      <li routerLinkActive="active" class="">
        <a href="#formationSubmenu" data-toggle="collapse">
          <i class="ti-book"></i>
          <p>Formation <b class="caret"></b></p>
        </a>
        <ul class="collapse list-unstyled" id="formationSubmenu">
          <div class="icon-section">
          <li class="icon-container"><a  routerLink="/formation" routerLinkActive="active"><span class="icon-name" style="font-size: 16px; color: #d5000d">Mes formations</span></a></li>
          <li><br></li>
          <li class="icon-container"><a routerLink="/formationencours" routerLinkActive="active"><span class="icon-name" style="font-size: 14px; color: #d5000d">Formations en cours</span></a></li>
            <li><br></li>
            <li class="icon-container"><a routerLink="" routerLinkActive="active"><span class="icon-name" style="font-size: 14px; color: #d5000d">Formations outdated</span></a></li>
            <li><br></li>
            <li class="icon-container"><a routerLink="/formation/addFormation" routerLinkActive="active"> <span class="icon-name" style="font-size: 16px; color: #d5000d">Ajouter formation</span></a></li>
          </div>
        </ul>
      </li>
      <li class="divider"></li>
      <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
        <a [routerLink]="[menuItem.path]" href="{{menuItem.href}}">
          <i class="{{menuItem.icon}}"></i>
          <p>{{menuItem.title}}</p>
        </a>
      </li>
    </ul>
  </div>
</div>
