<ol class="breadcrumb">
  <li><a routerLink="/formation">Mes formations</a></li>
  <li><span>{{formation.formationName}}</span></li>
  <!--<li class="active">Data</li>-->
</ol>


<ul class="nav nav-tabs" role="tablist">
  <li *ngFor="let u of unities; let i = index" [ngClass]="{'active': i == 0}"
      role="presentation">
    <a [attr.href]="'#collapseOne2_' + i"
       [attr.aria-controls]="u.unityName"
       role="tab"
       data-toggle="tab">
      {{(i+1)}}
    </a>
  </li>

</ul>
<div class="tab-content">

  <div class="tab-pane"   *ngFor="let u of unities; let i = index"
       [attr.id]="'collapseOne2_' + i"  [ngClass]="{'active': i == 0}">
    <app-unity [test]="u"></app-unity>
    <a [attr.href]="'#collapseOne2_' + (i+1)"
       role="tab"
       data-toggle="tab" (click)="tops()">Next</a>
  </div>
</div>


<!--<div class="bs-example">
  <div class="panel-group" [attr.id]="'accordion_' + i" *ngFor="let message of unities; let i = index;" [ngClass]="{'active': i == 0}">
    <div class="panel panel-default" >
      <div class="panel-heading" >
        <h4 class="panel-title">
          <a data-toggle="collapse" [attr.data-parent]="'#accordion_' + i" [attr.href]="'#collapseOne_' + i">{{ message.unityName }} </a>
        </h4>
      </div>
      <div [attr.id]="'collapseOne_' + i" class="panel-collapse collapse in" >
        <div class="panel-body">
          <app-unity [test]="message"></app-unity>
        </div>
      </div>
    </div>
  </div>
</div>-->

